<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title>{{ title }}</title>
</head>
<body>
<div class="container">
<div class="columns">
<div class="column">
  <div class="subtitle"><a href="{% url 'index' %}" id="index_link">Our Lego</a></div>
</div>
<div class="column">
  <form action="{% url 'search' %}" method="get">
    {{ search_form }}
    <input type="submit" value="OK" id="search_submit" class="button">
  </form>
</div>
<div class="column">
  {% if user.is_authenticated %}
    <div>{{ user.username }}</div>
    <form action="{% url 'logout' %}" method="post">{% csrf_token %}
      <input type="submit" value="Log out" id="log_out" class="button">
    </form>
  {% else %}
    <div><a href="{% url 'login' %}" class="button">Log in</a></div>
  {% endif %}
  {% if user.is_staff %}
    <div><a href="{% url 'admin:index' %}" class="button">Admin Page</a></div>
  {% endif %}
  {% if user.is_authenticated %}
    <div><a href="{% url 'add_set' %}" class="button">Add a New Lego Set</a></div>
  {% endif %}
</div>
</div>
</div>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>
