<!DOCTYPE html>
<html lang="en">
{% load i18n %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {% block script %}
  {% endblock %}
</head>
<body>
  <div><a href="{% url 'index' %}" id="index_link">{% translate "Our Lego" %}</a></div>
  <form action="{% url 'search' %}" method="get">
    {{ search_form }}
    <input type="submit" value="{% translate 'OK' %}" id="search_submit">
  </form>
  <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    {% get_current_language as lang %}
    <button type="submit" name="language" value="en" id="language_en" {% if lang == "en" %}disabled{% endif %}>{% translate 'English' %}</button>
    <button type="submit" name="language" value="cs" id="language_cs" {% if lang == "cs" %}disabled{% endif %}>{% translate 'Czech' %}</button>
  </form>
  {% if user.is_authenticated %}
    <div><a href="{% url 'add_set' %}">{% translate "Add a New Lego Set" %}</a></div>
  {% endif %}
  {% if user.is_authenticated %}
    <div>{{ user.username }}</div>
    <div><a href="{% url 'logout' %}">{% translate "Log out" %}</a></div>
  {% else %}
    <div><a href="{% url 'login' %}">{% translate "Log in" %}</a></div>
  {% endif %}
  {% block content %}
  {% endblock %}
</body>
</html>
