<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
</head>
<body>
  <div><a href="{% url 'index' %}" id="index_link">Our Lego</a></div>
  <form action="{% url 'search' %}" method="get">
    {{ search_form }}
    <input type="submit" value="OK" id="search_submit">
  </form>
  {% if user.is_authenticated %}
    <div><a href="{% url 'add_set' %}">Add a New Lego Set</a></div>
  {% endif %}
  {% if user.is_staff %}
    <div><a href="{% url 'admin:index' %}">Admin Page</a></div>
  {% endif %}
  {% if user.is_authenticated %}
    <div>{{ user.username }}</div>
    <form action="{% url 'logout' %}" method="post">{% csrf_token %}
      <input type="submit" value="Log out" id="log_out">
    </form>
  {% else %}
    <div><a href="{% url 'login' %}">Log in</a></div>
  {% endif %}
  {% block content %}
  {% endblock %}
</body>
</html>
