{% extends "lego/base.html" %}
{% block content %}
  <div class="title is-4">Latest Additions</div>
  <div class="grid">
  {% for set in page_obj %}
    <div class="box">
      <div><a href="{% url 'set_detail' set.lego_id %}">{{ set.lego_id }}</a></div>
      <div>{{ set.name }}</div>
      <div>{% if set.image_url %}<figure class="image is-128x128"><a href="{% url 'set_detail' set.lego_id %}"><img src="{{ set.image_url }}"></a></figure>{% endif %}</div>
    </div>
  {% endfor %}
  </div>
  <nav class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">Next</a>
    {% endif %}
  </nav>
{% endblock %}
