{% extends "lego/base.html" %}
{% block content %}
  <div class="title is-4">Latest Additions</div>
  <div class="grid">
  {% for set in object_list %}
    <div class="box">
      <div>
        <a href="{{ set.get_absolute_url }}" title="{{ set }}">
          {% with image=set.image %}{% include "lego/partials.html#item_image" %}{% endwith %}
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
  <nav class="pagination">
    {% if page_obj.has_previous %}
      <a href="{% querystring page=page_obj.previous_page_number %}" class="pagination-previous">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="{% querystring page=page_obj.next_page_number %}" class="pagination-next">Next</a>
    {% endif %}
  </nav>
{% endblock %}
