{% extends "lego/base.html" %}
{% block content %}
  <div class="title is-4">{{ title }}</div>
  {% with image=legopart.image %}{% include "lego/partials.html#main_image" %}{% endwith %}
  {% if legopart.color and legopart.shape.num_code %}
    <div class="subtitle"><a href="{% url 'search' %}{% querystring q=legopart.shape.num_code mode='id' %}" id="all_colors">All colors</a></div>
  {% endif %}
  <div class="subtitle">Included in:</div>
  <div class="grid">
  {% for item in legopart.setitem_set.all %}
    <div class="box">
      <div>{{ item.quantity }}x in</div>
      <div>
        <a href="{{ item.set.get_absolute_url }}" title="{{ item.set }}">
          {% with image=item.set.image %}{% include "lego/partials.html#item_image" %}{% endwith %}
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
