{% extends "lego/base.html" %}
{% block content %}
  <div class="title is-4">{{ title }}</div>
  {% if image_url %}<div><figure class="image is-128x128"><img src="{{ image_url }}"></figure></div>{% endif %}
  <div class="subtitle">Included in:</div>
  <div class="grid">
  {% for item in set_items %}
    <div class="box">
      <div>{{ item.quantity }}x in</div>
      <div><a href="{% url 'set_detail' item.set.lego_id %}">{{ item.set.lego_id }}</a></div>
      <div>{{ item.set.name }}</div>
      <div>{% if item.set.image_url %}<figure class="image is-128x128"><a href="{% url 'set_detail' item.set.lego_id %}"><img src="{{ item.set.image_url }}"></a></figure>{% endif %}</div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
