{% extends "lego/base.html" %}
{% block content %}
  <div class="title is-4">{{ title }}</div>
  {% if sets or parts %}
  <div class="grid">
    {% for set in sets %}
      <div class="box">
        <div>
          <a href="{{ set.get_absolute_url }}" title="{{ set }}">
            {% with image=set.image %}{% include "lego/partials.html#item_image" %}{% endwith %}
          </a>
        </div>
      </div>
    {% endfor %}
    {% for part in parts %}
      <div class="box">
        <div>
          <a href="{{ part.get_absolute_url }}" title="{{ part }}">
            {% with image=part.image %}{% include "lego/partials.html#item_image" %}{% endwith %}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <div>Nothing Found</div>
  {% endif %}
{% endblock %}
